<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      </head>
    <body>
        <form method="get">
            <input type="submit" value="View ToDo list">
          </form>

      </body>
</html>