<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      </head>
    <body>
        <div>
            <form action="/todos" method="get">
              <input type="submit" value="View ToDo list" />
            </form>
        </div>
        <div>
            <form action="/new_todo" method="get">
                <input type="submit" value="Add ToDo" />
            </form>
        </div>
      </body>
</html>