<!DOCTYPE html>
<html>
    <head>
        <title>Add a Todo</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <form action="/todos" method="post">
            Title: <input type="text" name="todo_title" />
            Contents: <input type="text" name="todo_content" />
            <input type="submit" value="Add ToDo" />
        </form>
    </body>
</html>