<!DOCTYPE html>
<html>
  <head>
    <title>To do list!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>To Do List</h1>
    <ul>
    #foreach( $t in $todos )
         <li> $t.title $t.item </li>

      #end
    </ul>

  </body>
</html>